<h1>All restaurants</h1>

<ul class="restaurants-list">
  <% @restaurants.each do |restaurant| %>
      <li class="restaurant-card">
        <img src="https://loremflickr.com/60/60/<%= restaurant.category %>,food/all?random=<%= restaurant.id %>" alt="<%= restaurant.name %>">
        <div class="card-content">
          <p class="card-heading"><%= link_to restaurant_path(restaurant) do %>
            <%= restaurant.name %>
          <% end %></p>
          <p class="card-description"><%= restaurant.address %></p>
          <p class="card-description"><%= restaurant.phone_number %></p>
        </div>
      </li>
  <% end %>
</ul>
